<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/ashray.css">

    <!-- Icon -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.1/css/all.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap" rel="stylesheet">

    <title>Login Page</title>
  </head>
  <body class="box-body">

    <div class="container">
        
        <div class="row px-3">
            <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
                <div class="card-body">

                    <img src="images/ashray logo.png" alt="" id="ashray-logo1">
                    

                    <h4 class="title text-start mt-4"><%= title %></h4>
                    <h4 class="title text-start mt-4" style="padding-left: 2rem; color: #C2214C;"><%= password %></h4>
                    <form class="form-box px3" method="post" action="/login">

                        <div class="form-input">
                            <span><i class="fa-solid fa-at"></i></span>
                            <input type="email" name="email" placeholder="e-mail id" tabindex="10" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            <input type="password" name="password" placeholder="password" required>
                        </div>

                        <div class="mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="" id="cb1">
                                <label for="cb1" class="custom-control-label">remember me</label>
                            </div>
                        </div>

                        <div class="text-end">
                            <a href="#" class="forget-link" style="text-decoration: none;">forget password?</a>
                        </div>

                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-block">log in</button>
                        </div>

                        <div class="mb-2">not registerted yet?<a href="signup.html" class="register-link" style="text-decoration: none;">create an account</a></div>

                        <hr class="my-4" style="color: #FFA450;">
                        <div class="text-center mb-3">
                            or sign up with
                        </div>
                        <div class="text-center row mb-2" id="login-icons">
                            <div class="col-2">
                                <a href="#" class="nav-link fa-brands fa-facebook-f"></a>
                            </div>
                            <div class="col-2" style="color: #FFA450;">
                                or
                            </div>  
                            <div class="col-2">
                                <a href="#" class="nav-link fa-brands fa-google"></a>    
                            </div>
                        </div>
                    </form>
                </div>

                <div class="img-end d-none d-md-flex"></div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>